.btn {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: rgb(235 254 255);
        cursor: pointer;
}
      
.btn:hover {
        background-color: rgb(10, 154, 198);
}

.btn.active {
        background-color: rgb(10, 154, 198);
        color: white;
}

/* footer */
.footer{
        background-color: black;
        padding: 23px;
        text-align: center;
}
.footer a{
        text-decoration: none;
        color: rgb(74, 179, 221);
        padding: 8px;
}
.footer a:hover{
        color: rgb(39, 101, 126);
}
.socialM{
        color: white;
        
}
.fab{
        cursor: pointer;
        font-size: 22px;
        padding: 10px;
}
.fa-facebook-square:hover{
        color: rgb(0, 51, 94);
}
.fa-instagram:hover{
        color: rgb(117, 18, 76);
}
.fa-github:hover{
        color: rgb(68, 64, 67);
}
/* footer */